

<h1>Thanks, <%= @user.name %></h1>
<div>
  <div >
   <div class="form-group">
     Age: <%=@user.age %>
   </div>
   <div class="form-group">
     Location: <%=@user.location %>
   </div>
   <div class="form-group">
    About You:   <%=@user.about_you %>
  </div>
</div>
</div>
<div>
  Would you like to add a post?
  <%= form_for @message do |f| %>
  <%= f.hidden_field :user_id %>
  <div><%= f.text_field :subject %>
   <%= f.label :subject %>
 </div>
 <div>
  <%= f.text_area :content %>
  <%= f.label :content %>
  <div>
    <%= f.submit "Make Post" %>

  </div>
</div>
<% end %>
</div>

